body{
  margin:0px;
  font-family: Trebuchet MS;
  /*background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;*/
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.kw {
  padding:3px;
  margin-right:6px;
  font:bold 13px Arial;
  background:#f5f5f5;
  color:#555;
  border-radius:5px;
  width:100px;
  border:1px solid #ccc;
}

.more {
  padding:3px;
  margin-left:6px;
  margin-right:6px;
  font:bold 15px Arial;
  background:#aaaaf5;
  color:#555;
  border-radius:5px;
  width:100px;
  border:1px solid #ccc;
}

.xp-skills {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
}

.xp-skills > li {
  padding-left: 1em;
  text-indent: -1em;
}

.xp-skills > li:before {
  content: ">";
  padding-right: 5px;
}

p {
  margin:0px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

.topnav span, .topnav a {
  float: right;
  color: #f2f2f2;
  margin:3px;
  border-radius:6px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  /*background-color: rgba(50, 50, 250, 0.8);*/
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.columnleft {
  text-align:right;
  padding-left: 2%;
  padding-right:5px;
  flex: 0 0 150px;
}

@media (max-width:500px) {
  .columnleft { flex: 0 0 80px; }
}

.container{
  overflow-y:hidden;
  margin-bottom:40px;
}

.staticrow{
  display: flex;
  margin-bottom: 10px;
}

.row{
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  margin-bottom: 10px;
}

.columnrightnoborder {
  padding-left:5px;
  min-width:500px;
  flex:0 0 80%;
}

.columnright {
  border-left: 1px solid;
  padding-left: 5px;
  min-width:500px;
  flex:0 0 80%;
  margin-bottom: 5px;
}


.fa {
  margin-top: 5px;
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-envelope {
  background: #7487bc;
  color: white;
}

.fa-at {
  background: black;
  color: white;
}

.fab-container{display:block;position:fixed;bottom:15px;right:15px;z-index:999;cursor:pointer}}
.fab-icon-holder{padding:10px;box-shadow:0 6px 20px rgba(0,0,0,.2)}
.fab-icon-holder:hover{opacity:.8}
.fab{width:60px;height:60px;background:#d23f31;border-radius:50px;}
.fab-options{list-style-type:none;margin:0;position:absolute;bottom:70px;right:0;opacity:0;transition:all .3s ease;transform:scale(0);transform-origin:85% bottom}
.fab-options:hover,.fab:hover+.fab-options{opacity:1;transform:scale(1)}
.fab-options li{display:flex;justify-content:flex-end;padding:5px}
.fab-label{padding:4px 4px;align-self:center;user-select:none;white-space:nowrap;border-radius:3px;font-size:16px;background:#666;color:#fff;box-shadow:0 6px 20px rgba(0,0,0,.2);margin-right:10px}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% ; /* 15% from the top and centered */
  padding-bottom: 30px;
  width: 90%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

/* Modal Header */
.modal-header {
 padding: 2px 16px;
 background-color: #555555;
 color: white;
 margin-bottom: 30px;
 border-radius: 9px 9px 0 0;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  display: none;
}

/* Modal Footer */
.modal-footer {
 padding: 2px 16px;
 background-color: #5cb85c;
 color: white;
}


/* Add Animation */
@keyframes animatetop {
 from {top: -300px; opacity: 0}
 to {top: 0; opacity: 1}
}

.modal-btn {
  text-decoration:none;
  font-size:20pt;
  color: #555555;
  margin-bottom: 10px;
}

.kw-row {
  margin-top: 15px;
}
